/* Body */
body {
    background-color: #f3eae3;
}
/* Footer Content */
.attribution {
    font-size: 11px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }
}

/* Main / Flex Box CSS */
.container {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-flow: row wrap;
    width: min(700px);
    min-width: 375px;
    background-color: white;
    border-radius: 15px;
}

.left-box {
    width: 50%;

    img {
        width: 100%;
        height: 100%;
        border-radius: 15px 0px 0px 15px;
    }
}

.right-box {
    width: 50%;
}

.price {
    display: flex;
    flex-flow: row wrap;
}

/* CSS Font Family Rule */
/* font-family: "Fraunces", serif;
font-family: "Montserrat", sans-serif; */

/* Text / Typography */
p {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.Fraunces {
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 32px;
}

.test {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
